extends layout

block content
  ul.folders(data-bind="foreach: folders")
    li(data-bind="text: $data, css: { selected: $data == $root.chosenFolderId() }, style: { color: $data == $root.chosenFolderId() ? '#a00' : '#00b' }, click: $root.goToFolder")

  table.mails(data-bind="with: chosenFolderData")
    thead
      tr
        th From
        th To
        th Subject
        th Date
    tbody(data-bind="foreach: mails")
      tr(data-bind="click: $root.goToMail")
        td(data-bind="text: from")
        td(data-bind="text: to")
        td(data-bind="text: subject")
        td(data-bind="text: date")

  .viewMail(data-bind="with: chosenMailData")
    .mailInfo
      h1(data-bind="text: subject")
      p
        label From:
          span(data-bind="text: from")
      p
        label To:
          span(data-bind="text: to")
      p
        label Date:
          span(data-bind="text: date")
    p.message(data-bind="html: messageContent")

  script(src='/lib/jquery/dist/jquery.min.js')
  script(src='/lib/knockout/dist/knockout.js')
  script(src='/lib/sammy/lib/sammy.js')
  script(src='/js/page.js')
